<?xml version="1.0"?>
<model>
  <name>pallet_tags</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>
  <author>
    <name>robo-amr maintainers</name>
    <email>robozaodalogistica@gmail.com</email>
  </author>
  <description>AprilTag texture assets used by Galp pallet simulations.</description>
</model>
